.App {
    font-family: sans-serif;
    text-align: center;

    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.board .table {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: solid black 10px;
}

.board .table tr {
}

.board .table td {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    overflow: hidden;
    font-size: 30px;
}

.histories .list {
    margin: auto;
    box-sizing: border-box;
    overflow: auto;
    width: 800px;
}

.histories .list .item {
    box-sizing: border-box;
    float: left;
    margin: 7px;
    width: 250px;
    height: 300px;
}

.histories .list .item h3 {
    margin: 5px;
}

.histories .list .item table {
    width: 250px;
    height: 250px;
    margin: auto;
    border: solid black 5px;
}

.histories .list .item table tr {
}

.histories .list .item table tr td {
    width: 16px;
    height: 16px;
    background-color: #ddd;
    text-align: center;
    padding: 3px;
    font-size: 13px;
}

.information {
    width: 500px;
    margin: 15px auto;
}

.information .stats {
    width: 350px;
    margin: auto;
    overflow: hidden;
    font-size: 25px;
}

.information .stats .score {
    float: left;
    margin: 20px;
    width: 130px;
    height: 60px;
    box-sizing: border-box;
    border-style: dashed;
}

.information .stats .score .count {
    margin: 13px;
}

.inactive {
    border: white;
}

.active {
    border: red;
}

.game-end {
    color: gold;
    font-size: 40px;
}

.pass-button {
    margin: 20px 0 30px
}

.pass-button button {
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
}